/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1, td i, h2, .blue {
  font-style: italic;
  color: #41CEE5;
}

a {
  text-decoration: none;
  padding: 0px 10px;
  color: #57A8EA;
}

table, th, td {
  border: 1px dashed blue;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
