/* CSS files add styling rules to your content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*in case font not working*/
    font-family: sans-serif;
}

/*Navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5e7e8;
    z-index: 99;
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li a,
.ss li {
    display: block;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #000000;
    padding: 20px;
    margin: 0;
}

.navbar li a:hover {
    color: #0369be;
    border-bottom: 3px solid #000000;
    transition-duration: 0.8s;
}

.navbar li a:active {
    border-bottom: 3px solid #0369be;
    color: #000000;
}

/*for mobile nav*/
.hamburger {
    background-color: white;
    padding: 10px;
    display: none;
}

.mobilemenu {
    margin: 6px 0;
    display: block;
    cursor: pointer;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* visited link */
a:visited {
    color: #d5e7e8;
}

nav img {
    width: 120px;
    margin: 0 20px;
}

/* unvisited link */
a:link {
    color: #0369be;
}

/* selected link */
a:active {
    color: #eee9e6;
}

/*For all pages*/
/*fonts*/
h1,
h2,
h3,
h4,
h5,
nav ul li a,
.paintingbutton,
.button a,
label,
.accordion,
select {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin: 30px 0;
}


p,
a,
input,
option,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.textaligncenter {
    text-align: center;
}

.flex1 p {
    padding: 10px 0;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.whitetext {
    color: #ffffff;
}

.footer-links li a {
    color: #000000;
}

.indexbar {
    display: block;
    color: #0369be;
    padding: 10px 0 0 0;

}

/*Content element*/
.flex {
    display: flex;
}

.flex1 {
    flex: 1;
    padding: 20px;
}

.flex2 {
    flex: 2;
    padding: 20px;
}

.mainspace {
    width: 80%;
    margin: auto;
    align-items: center;
}

.mainspace ul li {
    list-style-type: none;
    padding: 20px;
    text-align: center;
}

/*footer*/
footer {
    background-color: #d5e7e8;
    justify-content: center;
}

.whitespace {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

.footer-links li {
    list-style-type: none;
    padding: 10px 0;
}

/*Social Media Icons*/
.fb {
    background-image: url(img/assets/facebook.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
}

.fb:hover {
    background-image: url(img/assets/facebook2.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.in {
    background-image: url(img/assets/instagram.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
}

.in:hover {
    background-image: url(img/assets/instagram2.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.tw {
    background-image: url(img/assets/twitter.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
}

.tw:hover {
    background-image: url(img/assets/twitter2.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

/*home page*/
/* Hero */
.hero {
    text-align: center;
    padding: 20px;
    margin: 100px 0;
}

.hero p {
    margin: 20px 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

.active {
    background-color: #ffffff;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myslides {
    overflow: hidden;
}

/*end of slide show*/

.art-content {
    align-content: center;
}

.art-content-imgbox {
    display: flex;
    width: 80%;
    margin: auto;
}

.art-content-img {
    margin: 10px;
}

.invbuttonbox {
    text-align: center;
    border: solid 2px transparent;
    color: #0369be;
    width: 160px;
    padding: 10px 30px;
    margin: 20px 0;
}

.invbuttonbox:hover {
    border: solid 2px #0369be;
    transition-duration: 1s;
}

/*newsletter*/
.newsletter input[type=email] {
    width: 380px;
}

.newsletter {
    width: 500px;
    margin: 20px auto;
}

/*Animation text*/
.animationtext {
    color: #ffffff;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
}

.animationtext .letter {
    display: inline-block;
    line-height: 1em;
}


.button,
.hero p {
    margin: 30px auto;
}

.buttonbox {
    text-align: center;
    border: solid 2px transparent;
    background-color: black;
    padding: 10px 30px;
    margin: 20px auto;
    color: white;
}

.buttonbox:hover {
    border: solid 2px black;
    background-color: white;
    color: black;
    transition-duration: 1s;
}

/* About Page  */
.about-quotes {
    background-color: #d5e7e8;
    padding: 30px;
}

.about-quotes p,
.hero p {
    width: 80%;
}

.about-video {
    margin: 30px auto;
    text-align: center;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.about-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Artwork page*/
.paintingbutton {
    /*  display: inline-block;*/
    padding: 0.5em 1.0em;
    background: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid transparent;
    margin: 10px;
    transition: background 0.3s;
}

.paintingbutton:hover {
    border-bottom: 3px solid #d5e7e8;

}

.paintingbutton:active,
.paintingbutton.is-checked {
    background-color: #d5e7e8;
    outline: none;
}

.button-group {
    margin: 20px 0;
    text-align: center;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.card h3,
.card h4 {
    padding: 10px;
}

/*
.grid-container {
    margin: 0 auto;
}*/

.grid article {
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin: 1%;
    width: 23%;

}

.card {
    padding: 10px;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    border-radius: 5px;
    z-index: 50;
    transition: 0.3s ease-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Contact Page*/
/*forms*/
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d5e7e8;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    transition: 0.5s ease-in;
    background-color: #d5e7e8;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-me {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
}

.accordion-active,
.accordion:hover {
    background-color: #eee9e6;
    ;
}

.accordion:after {
    content: '\002B';
    color: #0369be;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion-active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*Background Animation*/
.bg-animation {
    width: 100%;
    height: 100vh;
}

.bg-animation-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-animation-box li {
    position: fixed;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: #eee9e6;
    animation: bg-animate-01 20s linear infinite;
    top: -150px;
}

.bg-animation-box li.circle-box {
    border-radius: 50%;
}

.bg-animation-box li.corners-box-20 {
    border-radius: 20%;
}

.bg-animation-box li.corners-box-35 {
    border-radius: 35%;
}

.bg-animation-box li:nth-child(1) {
    left: 4%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.bg-animation-box li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.bg-animation-box li:nth-child(3) {
    left: 18%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.bg-animation-box li:nth-child(4) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.bg-animation-box li:nth-child(5) {
    left: 43%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.bg-animation-box li:nth-child(6) {
    left: 60%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.bg-animation-box li:nth-child(7) {
    left: 70%;
    width: 110px;
    height: 110px;
    animation-delay: 6.5s;
}

.bg-animation-box li:nth-child(8) {
    left: 95%;
    width: 110px;
    height: 110px;
    animation-delay: 1.5s;
}

@keyframes bg-animate-01 {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
    }

    100% {
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
    }
}

/*media query*/

@media screen and (max-width:992px) {
    .grid article {
        width: 48%;
    }

    footer flex,
    .contact-me,
    .about-quotes,
    .tabletsize {
        flex-direction: column;
    }

    .footer-links,
    footer flex flex2 h3 {
        text-align: center;
    }

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .newsletter input[type=email] {
        width: 100%;
        margin: 10px 0;
    }

    .newsletter {
        width: 80%;
        margin: 50px auto 80px auto;
    }

    .animationtext {
        font-size: 1.7em;
        letter-spacing: 0.2em;
    }

    @media screen and (max-width:600px) {
        .animationtext {
            font-size: 1.3em;
            letter-spacing: 0.2em;
        }

        .grid article {
            margin: 2% 0;
            width: 100%;
        }

        .flex {
            flex-direction: column;
        }

        .whitespace {
            text-align: center;
        }

        .socialmedia li {
            margin: 10px;
        }

        /*nav*/
        .mobilemenu,
        .mobilelogo {
            display: block;
            padding: 0 20px;
        }

        .topnav {
            position: relative;
            justify-content: space-between;
        }

        .topnav ul,
        .list-logo,
        .mobile-none {
            display: none;
        }

        .topnav.responsive ul {
            background-color: white;
            display: block;
            width: 100%;
            position: absolute;
            top: 50px;
            z-index: 900;
        }



    }
